// @import "./../util.scss";
@import "./../../util.scss";

$timeDuration: 0.4s;
$width: 46px;
$height: 44px;


@function borderWidth() {
    @return $width/2;
}

.tag-tooth1 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;  
  width: $width;
  height: $height;
  position: relative;
  background-color: $blackTooth;
  transition: $timeDuration;
  z-index: 2;
  top:0px;

  &__fang {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translate(0%, 96%);
    width: 0px;
    height: 0px;
    border-left:  borderWidth() solid transparent;
    border-right: borderWidth()  solid transparent;
    border-top: 23px solid $blackTooth;
    transition: $timeDuration;
  }

}

.tag-tooth2 {
    width: $width;
    height: $height;
    background-color: $teal;
    transition: $timeDuration;
    z-index: 1;
    transform: translateY(-1.2rem);
    position: absolute;
    border-radius: 5px;
    top: 47px;

  
    &__fang {
      position: absolute;
      bottom: 0px;
      left: 0px;
      transform: translate(0%, 88%);
      width: 0px;
      height: 0px;
      border-left:  borderWidth() solid transparent;
      border-right: borderWidth() solid transparent;
      border-top: 23px solid $teal;
      transition: $timeDuration;
    }
  }


  .tag {
    transition: .4s;
    
    &:hover > * {
      & > .tag-tooth1 {
        background: $teal;
        & > .tag-tooth1__fang {
          border-top: 23px solid $teal;
        }
      }

      & > .tag-tooth2 {
        background: $blackTooth;
        & > .tag-tooth2__fang {
          border-top: 23px solid $blackTooth;
        }
      }
    }
  }

