@import "./../../util.scss";

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.group {
    opacity: 0;

}
.group-diamond {
    
    &:nth-of-type(1){
        left: 10px;
    }
    &:nth-of-type(2) {
        z-index: 2;
        left: 5px;
    }
    &:nth-of-type(4) {
        right: 10px;
    }
    &:nth-of-type(5) {
        right: 10px;
    }
}


