// @import "./../util.scss";
@import "./../../util.scss";

.contact-card {
  position: relative;
  border: 1px solid #dedede;  
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 410px;
//   width: 270px;
    width: inherit ;


    &__wallpaper {
      transition: .6s;
      position: relative;
      height: inherit;
      & > img {
        transition: .6s;
        height: inherit;
        opacity: 1;
      }
      
    }

   &:hover > .contact-card__upper_box {

     & > .contact-card__wallpaper {
        & > img  {
          opacity: 0;
        }
        & > .group {
          opacity: 1;
        }
     }

     & > .contact-card__upper_box__name  {
       background-color: #383838;
     }


   }

   &:hover > .contact-card__under_box > .contact-text-container > .email-text {
      color: $teal;
   }
   



  &__upper_box {
      position: relative;
      height: 270px;


      &__name {
        transition: .6s;
        position: relative;
        background-color: $teal;
        height: 40px;
        text-align: center;
        width: fit-content;
        border-radius: 5px;
        line-height: 40px;
        padding: 0 1rem 0 1rem;
        margin: 0 auto;
        transform: translateY(-50%);
        
      }


  }



  &__under_box {
    position: relative;

    &__title {
        text-align: center;
        margin: 0 auto;
        width: fit-content;
        border-bottom: 1px solid #ebebeb;
    }
  }
}

.contactx-icon {
  height: 15px;
    display: inline-block;
    transform: translateY(-2px);
}

.email-text {
  transition: .4s;
}