@import "./util.scss";
/**  
contain class of
  -> section 
  -> nav 
  -> img-homepage 
  -> aside
  -> offer
  -> register
------------------
Based on mobile-first design
@media(min-1024px) /lg  contain class of
  -> sectiom
  -> nav
  -> offer
**/

.section {
  position: relative;
  width: 100%;
  display: block;
  overflow-x: hidden;

  &__container {
    position: relative;
    margin: 0 5% 0 5%;
  }

  &--nav-bg-color-border-btm-thin-grey {
    background-color: #f9f9f9;
    border-bottom: 1px solid #aaaaaa;
  }
}

.nav {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
  &__item {
    cursor: pointer;
    float: right;
    display: none;
    padding: 1.1rem 0.8rem;
    transform: translateY(10px);
    letter-spacing: 0px;
    &:nth-of-type(1) {
      transform: translateY(1px);
      float: left;
      display: block;
      padding-left: 0px;
    }
    &:nth-of-type(2) {
      padding-right: 0px;
    }
  }
}

.img-homepage {
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  background-image: url(./assets/homepage.jpg);
  object-fit: contain;
  background-size: cover;
}

.aside {
  min-height: 100vh;
  overflow: scroll;
  &__item {
    cursor: pointer;
    padding: 0.5rem;
    color: #e3e3e3;
    text-align: center;

    &:first-of-type {
      cursor: none;
      text-align: right;
      padding-right: 1rem;
      /*
      &:active {
        outline: 1px solid #e3e3e3;
      }
      */
    }
  }
}

.offer {
  &__card {
    width: 99%;
  }
}

.register {
  border: 3px solid #dedede;
  &__item {
    font-size: 12px;
    font-family: MyriadPro;
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 2px solid #dedede;
    outline: transparent;
    &active,:focus {
      outline: transparent;

    }

  }
}

/* lg  and above */
@media (min-width: 1024px) {

  .section {
    &__container {

      margin: 0 15% 0 15%;
    }

  }

  .nav {
    &__item {
      display: block;
      /*
      &:nth-of-type(1){
        float: left;
      }
      */
    }
  }
  .aside {
    display: none;
  }

  .offer {
    &__card {
      width: 33.3%;
    }
  }
  
}
