/*test and check for development reason*/
.test-img {
  height: 100px;
  width: 100px;
  filter: grayscale(100%);
}

.h-test-50 {
  height: 50px;
}
.h-test-100 {
  height: 100px;
  
}
.h-test-250 {
  height: 250px;
  
}
.h-test-400 {
  height: 400px;

}

.b-check {
  border: 1px solid #000;
}


.width-fit {
  width: fit-content;
}

/* fon-family*/

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Regular.ttf) format('truetype');
}
.font-raleway {
  font-family: 'Raleway';
}

.font-icons {
  font-family: ElegantIcons;
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNextLTPro-Regular.otf) format('truetype');
}
.font-avenir {
  font-family: AvenirNext;
}

@font-face {
  font-family: 'MyriadPro';
  src: local('MyriadPro'), url(./fonts/MavenPro-Regular.ttf) format('truetype');
}
.font-myriad {
  font-family: MyriadPro;
}

/* font-size */
.greater-h1 {
  font-size: 60px;
  font-stretch: normal;
  font-style: italic;
  letter-spacing: normal;
}

.great-h1 {
  font-size: 30px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
}

.h1 {
  font-size: 26px;
  line-height: 0.77;
  letter-spacing: normal;
}

.great-h2 {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
}

.h2 {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  // line-height: 1;
  letter-spacing: normal;
}

.txt1 {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  // line-height: normal;
  letter-spacing: normal;
}

.txt2 {
  font-size: 13px;
}

.tiny-txt {
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  // line-height: normal;
  letter-spacing: normal;
}

.very-tiny-txt {
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  // line-height: normal;
  letter-spacing: normal;
}

/* font weight */
.weight-normal {
  font-weight: normal;
}

.weight-medium {
  font-weight: 500;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-x-bold {
  font-weight: 800;
}

/* background-color and color of text */
.bg-white {
  background-color: white;
}

.white {
  color: white;
}

.bg-black {
  background-color: #383838;
}

.bg-blacker {
    background-color: #333333;
  }

.light-black {
    color: #606060;
}

.black {
  color: #383838;
}

/*variables*/
$teal: #00a99d;
$blackTooth: #404040;

.bg-teal {
  background-color:$teal;
}

.teal {
  color: #00a99d;
}

//* thinner toward white color --- greater toward black color */
.thinner-light-x-grey {
  color: #e3e3e3;
}

.thinner-light-grey {
  color: #e4e4e4;
}
.bg-thinner-light-grey {
  background-color: #e4e4e4;
}

.bg-thinner-grey {
    background-color: #dedede;
}

.bg-thin-light-x-grey {
    background-color: #cecece;
}

.thin-light-grey {
  color: #cccccc;
}

.thin-grey {
  color: #aaaaaa;
}

.normal-grey {
  color: #8a8a8a;
}

.great-grey {
  color: #7a7a7a;
}

/* border */

.b-top-none {
  border-top: transparent;
}
.b-bottom-none {
  border-bottom: transparent;

}