
.creative-btn {
    width: 2.5rem;
    height: 2.5rem;
    transition:.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > img {
        transition:.4s;
        height: 40px;
        transform: translate(-1px, -1px);
    }
    
    &:hover {
        width: 2.65rem;
        height: 2.65rem;
        & > img {
            height: 55px;
            animation: updownIcon 0.8s linear alternate infinite;
        }
    }

}

@keyframes updownIcon {

    0% {transform: translate(-1px, -5px);}
    100% {transform: translate(-1px, 4px);}

}