

.nav{
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
    transition: .8s;

    &__item {
      cursor: pointer;
      float: right;
      display: none;
      transform: translateY(10px);
      letter-spacing: 0px;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: .7rem ;

      &:nth-of-type(1) {
        transform: translateY(1px);
        float: left;
        display: block;
        padding-left: 0px;
      }
      &:nth-of-type(2) {
        padding-right: 0px;
      }
    }


    &__item:nth-of-type(n+3) {
        transition: .4s;
        &:hover {
            color: #e4e4e4;
            background-color: #00a99d;
        }
    }

}


@media (min-width: 1024px) {
  
    .nav {
      &__item {
        display: block;
      }
    }
}