
$offerWidth: 99%;
.offer-hr-1 {
    background: linear-gradient(to top, #f9f9f9, #e4e4e4, #f9f9f9);
    height: 2px;
    width: $offerWidth;
    left:0%;
    
}
.offer-hr-2 {
    background: linear-gradient(to top, #f9f9f9, #e4e4e4, #f9f9f9);
    height: 2px;
    width: $offerWidth;
}
