// @import "./../util.scss";
@import "./../../util.scss";

.progressx > * {
    transition: .8s;
}

.rotate-180 {
    transform: rotate(180deg) !important;
}

.MuiCircularProgress-colorPrimary {
    color: $teal !important;
}


.progress-number {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%,-50%);
}
